html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    background:black;
    color:white;
}

.messageWrapper {
    display: block;
    max-width: 100%;
    min-height: 20px;
}

#chatlog {
    width:400px;
    height:300px;
    overflow:hidden;
    overflow-y: auto;
    background: #222;
    color:white;
}

input[type=text] {
    border:2px solid #666;
    background: #222;
    border-radius: 3px;
    outline: none;
    font-size: 14pt;
    color:white;
}

input[type=text]:active, input[type=text]:focus {
    border-color:#ff6600;
}

input[type=button] {
    border:2px solid white;
    background: #FF6600;
    border-radius: 3px;
    outline: none;
    font-size: 14pt;
    color:white;
}

input[type=button]:disabled {
    background: #666666;
    color:#ddd;
}